# macos
.DS_Store

# R
..Rcheck
.cache
.RData
.Rhistory
.Rproj.user
.Rprofile
.Ruserdata
*.Rcheck

# directories and files
.cc-connect
.codex
.deepseek
*.dll
*.h5ad
*.o
*.pdf
*.pyc
*.so
*.tar.gz
deepscore_logs
dev
docs
omnipathr-log
paper
plan
SCExplorer
test
tmaps
tmp
