# macos
.DS_Store

# R
.cache
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
..Rcheck
*.Rcheck

# directories and files
SCExplorer
docs
tmaps
test
*.h5ad
*.pyc
.codex
.cc-connect
*.o
*.so
*.dll
paper
plan
deepscore_logs
*.pdf
*.tar.gz
tmp
omnipathr-log
